{% load staticfiles %}
<header class="main">
  <div class="u-container u-container--large">
    <div class="branding row">
      <div class="left"><span class="since-line">UBC’s student newspaper since 1918</span></div>
      <div class="middle">
        <img class="top-logo" src="{% static 'images/ubyssey-logo.svg' %}" />
      </div>
      <!-- <div class="right">
        <a class="o-snapchat-icon"><i class="fa fa-snapchat"></i><div class="o-snapchat-icon__code"></div></a>
        <a href="https://www.facebook.com/ubyssey" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/ubyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/Ubyssey" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
      </div> -->
      <div class='right'>
        <a href='javascript:;' id='ubyssey-store-view-cart' class='store-cart'>
          <i class="fa fa-shopping-cart"></i> 
          <span class="simpleCart_quantity"></span> 
          View Cart 
        </a>
      </div>
    </div>
</div>
</header>
