# dispatch==0.5.9
git+git://github.com/ubyssey/django-google-storage.git
google-cloud-storage
google-cloud-datastore
googleapis-common-protos
django-gae-backends
django-canonical-domain
pymysql
mysqlclient
django-phonenumber-field
beautifulsoup4
feedparser
pyyaml
ua-parser
django-user-agents
django-google-storage-updated
gunicorn
