# dispatch==0.5.9
git+git://github.com/ubyssey/django-google-storage.git
django-gae-backends
django-canonical-domain
mysqlclient
django-phonenumber-field
beautifulsoup4
feedparser
pyyaml
ua-parser
django-user-agents
django-google-storage-updated
gunicorn
