ubyssey.ca/
!ubyssey.ca/*.py
!ubyssey.ca/*.pyc
!ubyssey.ca/*.txt
!ubyssey.ca/*.yaml
!ubyssey.ca/*.yml
!ubyssey.ca/_settings

!ubyssey.ca/ubyssey/static/.babelrc
!ubyssey.ca/ubyssey/static/gulpfile.js
!ubyssey.ca/ubyssey/static/webpack.config.js
!ubyssey.ca/ubyssey/static/webpack.dev.config.js
!ubyssey.ca/ubyssey/static/yarn.lock
!ubyssey.ca/ubyssey/static/package.json

!ubyssey.ca/ubyssey/static/src/js/.js