.c-header {
  display:block;
}

.c-catalogue-container {
  // Structure
  flex-wrap: wrap;
}

.o-product {
    display:flex;
    width:33.3%;
    height:100%;

    .o-product__image {
      // Structure
      width: 100%;
      height: 3em;

      // Background
      background-position: center;
      background-size: cover;
    }
}

.c-product-page {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display:flex;
  flex-wrap: none;

  .left, .right {
    width: 50%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .o-product__image {
    // Structure
    width: 100%;
    height: 100%;

    // Background
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#ubyssey-store {
  width: 100%;
  height: 100%;
  overflow-y: auto;


  .c-store-wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .c-product__catalogue-wrapper {
      width: 33.3%;
      cursor: pointer;
      .c-product__catalogue-container {
        width: 100%;
        padding-top: 100%;
        position: relative;
  
        .c-product__catalogue-sold-out {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(255, 255, 255, .6);
        }
      }
    }

  }
}
